//====================================================================================================

//====================================================================================================
h1 {
	font-size: 30px;
	text-align: center;
	color: #fff;
	margin-bottom: 1rem;
}

p{
	font-size: 20px;
	line-height: 150%;
	color: #fff;
}

.content{
	max-width: 300px;
}